* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #3B0404;
}

.container {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aligner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

.calculator {
    height: 475px;
    width: 350px;
    border: 10px solid #F0E4CE;
    max-width: 50%;
    max-width: 1000px;
    min-width: 350px;
    background-color: #E2C5A8;
    border-radius: 10px;
}

.btn-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-auto-rows: minmax(70px, auto);
    padding-top: 20px;
    padding-left: 5px;
}

.display {
    height: 100px;
    width: 100%;
    grid-column: 1 / -1;
    background-color: #F0E4CE;
    border: 5px solid #F49586;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 8px;
}

.display .answer {
    font-size: 2.5rem;
    color: #F49586
}

.display .sum {
    font-size: 1.5rem;
    color: #F49586
}

.clear {
    width: 45%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 15px;
}

.delete {
    width: 45%;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    float: right;
    margin-right: 15px;
}

button {
    height: 60px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 22px;
    letter-spacing: 4px;
    position: relative;
    background-color: #F49586;
    border: none;
    color: #F0E4CE;
    padding: 20px;
    width: 75px;
    text-align: center;
    transition-duration: 0.8s;
    overflow: hidden;
    box-shadow: 0 5px 15px #A1C9D7;
    border-radius: 4px;
}

button:hover {
    background: #F0E4CE;
    box-shadow: 0px 2px 10px 5px #A1C9D7;
    color: #F49586;
}

button:after {
    content: "";
    background: #A1C9D7;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 1.2s
}

button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

button:focus { outline:0; }

footer {
    text-align: center;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #A1C9D7;
}